log/*
temp/*
vendor/*
node_modules
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
.idea
.history
public/.htaccess

public/assets
public/files
/.mango-snippet.html
.mango-snippet.html
