.button
    appearance none
    display inline-block
    font-size 0.8rem
    background none
    color $c-text-light
    text-decoration none
    border $d-border $c-border solid
    border-radius 2px
    margin 0 0.4em 0 0
    padding 0 1em
    transition box-shadow 300ms

    .fa
        margin 0 0.3em 0 0

    &:hover
        box-shadow 1px 1px 1px $c-border
