.button
    cursor pointer
    appearance none
    display inline-block
    font-size $small-font-size
    background none
    color $c-text-light
    text-decoration none
    border $d-border $c-border solid
    border-radius 2px
    margin 0 0.4em 0 0
    padding 0 1em
    transition box-shadow 300ms, color 300ms, border-color 300ms

    .fa
        margin 0 0.3em 0 0

    &:hover
        color $c-text
        border-color $c-text
        box-shadow 1px 1px 1px $c-text-light
