.form
    &-box
        max-width 250px
        margin 10vh auto

    &-label
        cursor pointer
        display block
        margin 1em 0 0.1em

    &-input
        display block
        width 100%
        margin 0

    &-text
    &-textarea
    &-button
        padding 0.2em 1em
        border $d-border $c-border solid
        border-radius $d-radius
        background-color transparent

        &:focus
            border $d-border $c-brand solid

    &-checkbox
        border $d-border $c-border solid
        float left
        width auto
        margin 0.2em 0.5em 0 0


    &-fieldset
        border none

