.link
    font-size $small-font-size
    color $c-text-light
    margin 0.5em
    transition color 300ms

    &:hover
        color $c-text

    .fa
        margin 0 0.3em 0 0

    &-icon
        text-decoration none
        color $c-text-light
        transition color 300ms

        &:hover
            color $c-text

