.song-index
    position fixed
    top 0
    right 0
    width 25vw
    min-width 450px
    height 100%
    background white
    padding 20px 20px 20px 170px
    transform translateX(calc(100% - 150px))
    transition transform 300ms

    &:hover
        transform none
