.song-list
    list-style none
    min-height 50vh

    &-item
        padding 0.2em 0.5em
        border-bottom $d-border $c-border solid

        &:first-of-type
            border-top $d-border $c-border solid

    &-link
        color $c-text
        text-decoration none
