.songbook-thumb
    position relative
    align-items center
    justify-content center
    width 150px
    height 180px
    margin 5px
    color $c-text
    text-align center
    text-decoration none
    border $d-border $c-border solid
    border-radius $d-radius
    box-shadow 1px 1px 1px $c-text-light
    transition box-shadow 300ms, transform 300ms, border-color 300ms
    float left

    &-button
        position absolute
        left 5%
        width 90%
        text-align center

    &-edit
        bottom 2rem

    &-remove
        bottom 0.5em

    &-add
        font-size 30px
        color $c-text-light

    &-link
        display flex
        flex-wrap wrap
        align-items center
        align-content center
        justify-content center
        width 100%
        height 100%
        font-size 1.5rem
        font-weight 300
        color $c-text
        text-decoration none

    &-title
        display block
        width 100%
        line-height 1.1em

    &-default
        font-size $small-font-size

    &:hover
        transform translateY(-5px)
        box-shadow 2px 2px 1px $c-text-light
        border-color $c-text
