{block title}Přidat písničku{/block}
{block content}

{include '../components/songForm.latte'
form => 'songForm',
state => 'add'}


<script>
    initComponents.push({
        name: 'songeditor',
        place: '#song-editor-container'
    })
</script>
