{block content}

<article class="song-box">
    <header class="song-fieldset">
        <a class="song-link" n:href=":edit $song->guid" n:if="$editable">(upravit)</a>
        <h1 class="song-input song-text song-title title title-main">{$song->title}</h1>
        <p class="song-input song-text song-interpreter">{$song->interpreter}</p>
    </header>
    <div class="song-fieldset song-lyric">
        {$song->lyric|noescape}
    </div>
</article>
