
{block content}
{default $editable = false}

{include ../components/song.latte song => $song, songbook => $songbook, editable => $editable}

<script>
    initComponents = [{
            name: 'chords',
            place: '.song-lyric'
        }]
</script>