// Favorite constants
$gratio = 1.618
$pi = 3.14159

// Dimensions
$radius = 5px
$spacing = 24px
$padding = 10px
$border = 1px

// Font properties
$font-family = Rubik, Helvetica, Arial, sans-serif

$base-font-size = 16px

$fw-light = 300
$fw-bold = 700
$fw-black = 900

// Colors
