// Favorite constants
$gratio = 1.618
$pi = 3.14159

// Dimensions
$d-radius = 3px
$d-spacing = 24px
$d-padding = 10px
$d-border = 1px

// Font properties
$font-family = Ubuntu, sans-serif

$base-font-size = 16px

$fw-light = 300
$fw-bold = 700
$fw-black = 900

// Colors
$c-brand = #ed9705
$c-border = #d5d5d5
$c-blank = #fff
$c-text = #black
$c-text-light = #8c8c8c
