{var $jQueryUI = true}

{block title}Upravit zpěvník{/block}
{block content}

{include '../components/songbookForm.latte'
form => 'songbookEditForm',
state => 'eidt'}

<section class="container view-thin">
  {include '../components/song-list.latte' songs => $songs, username => $currentUser[username], editable => true, sortable => true}
</section>

