{block content}
<header id="banner">
    <h1 n:block=title class="title title-song">Obsah</h1>
</header>

<section class="list">
    <ul>
        <li n:foreach="$songbooks as $songbook">{$songbook->title}</li>
    </ul>
</section>

