{block content}
<header id="banner">
    <h1 n:block=title class="title title-song">Obsah</h1>
</header>

<section class="list">
    <ul>
        <li n:foreach="$songbooks as $songbook"><a n:href="Songbook:detail $songbook->guid">{$songbook->title}</a></li>
    </ul>
</section>

