{block title}Vytvořit účet{/block}

{block content}

{capture $subtitle}Už máš účet? <a href="{link Sign:in}">Přihlas se</a>.{/capture}

{include '../components/form.latte'
form => 'signUpForm',
title => 'Vytvořit účet',
subtitle => $subtitle}
